<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
	
		<p>Some text here</p>

	<h3>Morning routine</h3>
	<ol>
		<li>Calisthenics</li>
		<li>Headspace</li>
		<li>Journal</li>
		<li>Prioritization</li>
	</ol>

		{{> footer}}
	</body>
</html>